@import "tailwindcss";


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0f172a; /* thumb and track for Firefox */
}

/* For WebKit-based browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a; /* slate-950 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155; /* slate-700 */
  border-radius: 10px;
}

